/* =========================================== Styling ==============================================
colors:
main background: #39171E
dark accent: #2D0F13
light accent: #5F3536

blue accent: #503CF6
*/

:root {
  font-family: system-ui, Helvetica, 'Times New Roman', Times, serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #39171E;
}

/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 20px;
  transition: margin-left 0.3s ease; /* Ensure content shifts smoothly */
}

h1 {
  font-size: 6em;
  line-height: 1.1;
  padding: 10px;
}

h2 {
  font-size: 3em;
  line-height: 1.1;
  padding: 5px;
}

button.submit {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2D0F13;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 200px;
}

button.filter {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #5F3536;
  cursor: pointer;
  transition: border-color 0.25s;
}

button.filter:hover{
  background-color:#503CF6;
}

button.link
{
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size:.8em;
  font-weight:300;
  font-family: inherit;
  cursor: pointer;
  transition: color .25s
}

button.link:hover
{
  color:#503CF6;
}

button.submit:hover {
  border-color: #503CF6;
}

button:active 
{
  border: none;
  outline: none;
}

button:focus
{
  outline:none;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.left {
  width: 45%;
  padding: 20px;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: center; 
  height: 100vh;
  background-color: #39171E;
}

/* Header spacing */
header.content {
  margin-bottom: 20px;
  text-align: center;
  color: white;
  background-color:#39171E;
  margin-bottom: 40px;
  flex-direction: column;
}

h1.header
{
  font-size: 6em;
  line-height: 1.1;
  padding: 10px;
  background-color: transparent;
  border: 1px solid transparent;
  font-weight:300;
  font-family: inherit;
}

h3.header
{
  font-size: 1.5em;
  line-height: 1.1;
  padding: 0px;
  background-color: transparent;
  border: 1px solid transparent;
  font-weight:300;
  font-family: inherit;
  font-style: italic;
}

button.header:hover
{
  color: white; 
}

/* Login section layout */
.login-section {
  display: flex;
  flex-direction: column; 
  align-items: left; 
  gap: 5px; 
  width: 100%; 
  max-width: 400px;
  padding: 20px; 
  background-color: #39171E;
  margin-bottom: 150px;
}

.login-section h3 {
  font-size: 2em;
  line-height: 1.1;
  padding: 5px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.login-section button.link
{
  margin-left: -10px;
  margin-right: auto;
  margin-top: -7px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size:.8em;
  font-weight:300;
  font-family: inherit;
  cursor: pointer;
  transition: color .25s
}

input.text
{
  width: 300px;
  height: 30px;
  padding: 10px;
  margin: 8px 0;
  background-color:#5F3536;
  border: 1px solid #5F3536;
  border-radius: 5px;
  overflow: visible;
}

.right
{
  display: flex;
  height: 100vh;
}

.right img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/*---------------------FRONT CSS--------------------*/

header {
  background-color: #2D0F13;
  padding: 10px 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left, .header-right {
  display: flex;
}

/* .header-left {} */

.header-right {
  gap: 10px; /* Add some space between the buttons */
}

header button {
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight:300;
  font-family: inherit;
  cursor: pointer;
  transition: color .25s
}

header button:hover {
  color:#646cff;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #2D0F13;
  color: white;
  padding: 20px;
  transition: left 0.3s ease;
}

.app {
  transition: margin-left 0.3s ease;
}

.app.sidebar-open main {
  margin-left: 250px; /* Shift the main content to the right when sidebar is open */
}

.sidebar.open {
  left: 0;
}

.sidebar h2 {
  margin-top: 0;
}

/*  SLIDER  */
.sidebar h3 {
  margin-bottom: 10px; /* Reduce the space below the header */
  font-size: 1.5em; /* Adjust size if needed */
  color: #ffffff; /* Ensure text color matches sidebar theme */
}

.range_container {
  margin-top: 10px; /* Reduce space between the header and the slider container */
  display: flex;
  flex-direction: column;
  gap: 15px; /* Adds space between elements within the container */
}

.sliders_control {
  position: relative;
  min-height: 10px;
}

.form_control {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  margin-top: 5px;
  color: #C6C6C6;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #503CF6, 0 0 9px #503CF6;
  -webkit-box-shadow: inset 0 0 3px #503CF6, 0 0 9px #503CF6;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 100%;
  position: absolute;
  background-color: #503CF6;
  pointer-events: none;
}

#fromSlider {
  height: 0;
  z-index: 1;
  top: 5px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    #503CF6 0%,
    #503CF6 var(--from-percent),
    #e5e5e5 var(--from-percent),
    #e5e5e5 var(--to-percent),
    #503CF6 var(--to-percent),
    #503CF6 100%
  );
}

/*  MAIN CONTENT  */

.button-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Auto-fill with minimum width of 150px */
  gap: 20px;
  padding: 10px;
  max-height: 500px; /* Max height for scrollable area */
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-color: #5F3536 #2D0F13 ;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #5F3536;
  color: white;
  border: none;
  padding: 0;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  overflow: hidden; /* Hide overflowing content */
}

.grid-item:hover {
  background-color: #503CF6;
}

.grid-item-img {
  width: 100%;
  height: 150px;
  object-fit: cover; /* Makes the image cover the container */
}

.grid-item-text {
  background-color: transparent; /* Semi-transparent background */
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

/* Game info page ------------------------------------*/

.info-container {
  display: flex;
  justify-content: space-between;
  height: 80vh;
}

.image-container {
  margin-top: 10px;
  flex-direction: column;
  gap: 15px;
  max-height: 500px;
  max-width: 600px;
}

.image-container img {
  max-width: 100%; /* Scale the image to fit the container */
  max-height: 400px;
  object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
}

.left-info{
  width: 65%;
  padding: 5px;
  display: flex;
  flex-direction: column; 
  align-items: left; 
  margin-left: 20px;
  height: 80vh;
  background-color: #39171E;
}

.left-info h1{
  font-size: clamp(2rem, 7vw, 3rem); /* Min 1rem, max 2rem, adjusts dynamically */
  margin-left: -11px;
}

.left-info h2{
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: normal;
  font-style: italic;
  margin-top: -5px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.left-info button {
  margin-top: 15px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 900px;
}

.right-info{
  width: 35%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  height: 80vh;
  background-color: #39171E;
  margin-top: 40px;
}

.right-info h2{
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: normal;
  margin-right: 20px;
}

.mini-container{
  padding: 10px;
}

.dual-container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  overflow-y: hidden;
}

.paragraph-container {
  margin-left: 15px;
  flex-grow: 1;
  max-width: 60%;
}

.paragraph-handler{
  margin-top: 5px;
  max-height: calc(80vh - 200px);
  overflow-y: auto; /* Enable scrolling for overflow */
  overflow-x: hidden;
  white-space: normal;
  max-width: 480px;
  scrollbar-color: #5F3536 #2D0F13 ;
  word-wrap: break-word;
}